@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
}

input, textarea, button, select {
  font-family: 'Noto Sans KR', sans-serif;
}